/*default style*/
html {
  background: url(../img/background.jpg);
  background-size: cover;
  font-size: 14px;
}

body {
  background-color: transparent;
}

nav {
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  height: 60px;
  position: fixed;
  width: 100%;
  z-index: 99;
  top: 0;
}

a {
  color: #fff;
  text-decoration: none;
}

a:focus, a:hover {
  color: white;
}

h1 {
  font-weight: normal;
}

button {
  font-size: 1rem;
  background-color: transparent;
  border: 1px solid black;
  padding: 10px;
  border-radius: 5px;
}

input, select, textarea {
  padding: 5px;
  border: 1px solid #D4D4D4;
  border-radius: 5px;
  /*width: 200px;*/
  display: block;
  margin: 5px auto;
}

/*helper classes*/
.center {
  text-align: center;
}

.red {
  color: red;
}

.full-width {
  width: 100%;
}

.white {
  color: white;
}

.hcenter {
  margin-left: auto;
  margin-right: auto;
}

.inline {
  display: inline-block;
}

/*other style*/

.navbar {
  height: auto;
  border-radius: 0;
}

.nav-bar li {
  display: inline-block;
}

.nav-bar {
  margin: 0;
  padding: 0;
  float: right;
}

.nav-bar li {
  border: 1px solid #fff;
  margin: 10px;
  /*space between a and another object*/
  padding: 10px;
  /*space between text content and border*/
  transition: background-color .5s linear;
}

.nav-bar li:hover {
  background-color: rgba(255,255,255,0.5);
  cursor: pointer;
}

.nav-logo {
  width: 40px;
  margin-left: 10px;
  margin-top: 5px;
}

.home-title {
  font-family: 'Oleo Script', cursive;
  font-size: 2.5rem;
}

.posters {
  text-align: center;
  margin-bottom: 20px;
}

.posters div {
  width: 30%;
  margin: 0 1%;
  border: 5px solid white;
  display: inline-block;
  position: relative;
  transition: width .3s linear, margin .3s linear;
}

.posters div:hover {
  width: 32%;
  margin: 0;
}

.posters div img {
  width: 100%;
  filter: brightness(70%);
  -webkit-filter: brightness(70%);
}

.posters div h3 {
  position: absolute;
  top: 50%;
  left: 0;
  color: white;
  font-size: 2rem;
  text-align: center;
  width: 100%;
  margin: 0;
  transform: translateY(-50%);
}

footer {
  color: white;
  background-color: rgba(0,0,0,0.3);
  text-align: center;
}

footer ul {
  margin: 0;
  padding: 20px 0;
}

footer ul li {
  display: inline-block;
  margin: 10px;
}

.company-title {
  color: red;
}

/*ticket style*/
.ticket-table {
  margin-top: 5rem;
}

.ticket-table table {
  border-collapse: collapse;
}

.ticket-table td, .ticket-table th {
  border: 1px solid black;
  padding: 20px;
  text-align: center;
}

.ticket-table th {
  background-color: rgba(255,255,255,0.3)
}

.primary-btn {
  background-color: #29B2FF;
  border-color: #29B2FF;
  color: white;
  cursor: pointer;
  font-weight: 200;
  transition: background-color .5s linear;
}

.primary-btn:hover {
  background-color: #0E81C1;
}

/*contact page style*/

.contact-form {
  margin-top: 5rem;
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
}

.about-content {
  margin-top: 5rem;
}

.navbar-brand {
  padding-top: 5px;
}

.navbar-brand .nav-logo {
  margin: 0;
}

.btn-disabled {
  background-color: #ccc;
}


/* media query for responsive design */
@media(max-width: 941px) {
  .posters div {
    width: 45%;
    margin-bottom: 20px;
  }

  .posters div:hover {
    width: 44%;
  }
}

@media(max-width: 500px) {
  .posters div {
    width: 95%;
  }

  .posters div:hover {
    width: 97%;
  }

  .posters div h3 {
    font-size: 4rem;
    font-weight: 100;
  }
}



